
.title{
    text-align: center;
}
.title img{
    width:30%;    
}

.content{
    font-size: 16px;
}

.content1{
    background-image: url("b.jpg");
    padding-bottom: 5%;
}
.content2{
    background-image: url("c.png");
}
.content3{
    background-image: url("b.jpg");
    padding-bottom: 5%;
}
.content4{
    background-image: url("c.png");
}


.content1-1{
    text-align: center;
    padding-top: 5%;
}
.content1-1 img{
    width:90%
}

.content2-1{
    text-align: center;
}

.content2-1 img{
    padding-top: 5%;
    padding-bottom: 5%;
    width:90%}

.content3-1{
    text-align: center;
    }
    
.content3-1 img{
        padding-top: 5%;
        padding-bottom: 5%;
        width:90%}

.content4-1{
    text-align: center;
    }

.content4-1 img{
        padding-top: 5%;
        padding-bottom: 5%;
            width:90%}

.content5{
text-align: center;}
            
.content5-1 img{
                width:100%}

.content6{
text-align: center;
}
                                
.content6-1 img{
width:100%;
}

.card{
    text-align: center;
    margin-top: -35%;
}
        
.card img{
    width: 25%;
}